<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
			{% block javascript %}
			<script src="{{ design }}/javascripts/jquery-1.8.3.min.js"></script>
			<script src="{{ design }}/javascripts/script.js?v=201504151054"></script>
			{% endblock %}
			{% block stylesheet %}
			<link rel="stylesheet" href="{{ design }}/stylesheets/base.css">
			<link rel="stylesheet" href="{{ design }}/stylesheets/font.css">
			<link rel="stylesheet" href="{{ design }}/stylesheets/color.css">
			<link rel="stylesheet" href="{{ design }}/stylesheets/content.css">
			{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %} mode-{{ mode }} text-size-{{ fontSize }}" id="{% block bodyid %}{% endblock %}">
        {% block content %}{% endblock %}
    </body>
</html>