<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
			{% block javascript %}
			<script src="{{ design }}/bundle.js"></script>
			{% endblock %}
			{% block stylesheet %}
			<link rel="stylesheet" href="{{ design }}/bundle.css">
			{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %} mode-{{ mode }} text-size-{{ fontSize }} {{ platform }}" id="{% block bodyid %}{% endblock %}">
        {% block content %}{% endblock %}
    </body>
</html>