{% extends "index.twig" %}

{% block title %}{{ story.title }}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #ff0000;}
    </style>
{% endblock %}
{% block content %}
    <h1>{{ story.title }}</h1>
    <div class="intro important">{{ story.intro }}</div>
    <div class="body">{{ story.body }}</div>
{% endblock %}